<%= form_for @answer do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :response %>
      <br>
      <%= f.text_field :response %>
    </div>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
